@media (max-width: 576px) {
    .headerImage{
        width: 100%;
        padding-top: 60px;
        img{
            height: 40vh;
            // width: 100%;
        }
        .h1shop{
            font-size: 2.2rem;
            position: absolute;
            top: 20%;
            left: 41%;
        }
        .shopsmallimg{
            position: absolute;
            top: 48%;
            left: 8%;
            img{
                height: 20%;
                width: 20%;
            }
            .imag1{
                display: none;
            }
            .imag2{
                display: none;
            }
        }
        .shop-ul{
            position: absolute;
            top: 20%;
            left: 38%;
            ul{
                li{
                    font-size: 10px;
                    a{
                        font-size: 10px;
                    }
                }
            }
        }
        .imgicon{
            i{
                top: 60%;
                left: 87%;
            }
        }
        .shpimgtext{
            position: absolute;
            left: -10%;
            top: 86%;
            span{
                font-size: 13px;
            }
            .accessories{
                margin-left: 102px;
            }
            .backpacks{
                margin-left: 35px;
            }
            .digitals{
                margin-left: 50px;
            }
            .wallets{
                display: none;
            }
            .watches{
                display: none;
            }
        }
    }
    .filter{
        .spanbox{
            display: none;
        }
        .gridicon{
            display: none;
        }
    }
}

@media (min-width:576px) and (max-width: 768px) {
    .headerImage{
        width: 100%;
        padding-top: 60px;
        img{
            height: 40vh;
            // width: 100%;
        }
        .h1shop{
            font-size: 2.2rem;
            position: absolute;
            top: 20%;
            left: 44%;
        }
        .shopsmallimg{
            position: absolute;
            top: 46%;
            left: 22%;
            img{
                height: 20%;
                width: 20%;
            }
            .imag1{
                display: none;
            }
            .imag2{
                display: none;
            }
        }
        .shop-ul{
            position: absolute;
            top: 22%;
            left: 42.555%;
            ul{
                li{
                    font-size: 10px;
                    a{
                        font-size: 10px;
                    }
                }
            }
        }
        .imgicon{
            i{
                top: 60%;
                left: 65%;
            }
        }
        .shpimgtext{
            position: absolute;
            left: 13%;
            top: 88%;
            span{
                font-size: 13px;
            }
            .accessories{
                margin-left: 105px;
            }
            .backpacks{
                margin-left: 45px;
            }
            .digitals{
                margin-left: 50px;
            }
            .wallets{
                display: none;
            }
            .watches{
                display: none;
            }
        }
    }
    .filter{
        .spanbox{
            display: none;
        }
        .gridicon{
            display: none;
        }
    }
}