@import "../styles/header.scss";
.aherf {
    padding-top: 96px;
    .container2 {
        width: 90%;
        margin: auto;
        a {
            padding: 15px;
            text-decoration: none;
            color: #979797;
            font-size: 14px;
            transition: 0.3s ease-in;
            &:hover {
                color: black;
            }
        }
        p {
            i {
                margin-top: 21px;
                font-size: 13px;
                color: #97979770;
            }
        }
        span {
            font-size: 14px;
            padding: 15px;
        }
    }
}
.active {
    .container2 {
        width: 90%;
        margin: auto;
        .bigimgbox {
            img {
                cursor: pointer;
            }
        }
        .smallimg {
            img {
                margin-right: 15px;
                margin-top: 10px;
                display: inline-block;
                cursor: pointer;
                &:hover {
                    border: 1px solid #76767652;
                }
                &:first-child {
                    border: 1px solid #76767652;
                }
            }
        }
        .staricon {
            i {
                color: #ffd015;
                font-size: 11px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            a {
                text-decoration: none;
                color: #979797;
                margin-left: 10px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
            }
        }
        .atumblr {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
            font-weight: 300;
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 18px;
        }
        .price {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .lorem {
            color: #979797;
            margin-bottom: 10px;
            font-size: 15px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
            font-weight: 400;
            margin-top: 30px;
        }
        ul {
            .li {
                color: #97979757;
                .product {
                    color: #979797;
                    margin-top: 20px;
                }
            }
        }
        .sill {
            margin-bottom: 20px;
            margin-top: 40px;
            .si {
                .size {
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    font-weight: 600;
                    letter-spacing: -0.8px;
                    margin-right: 50px;
                    font-size: 14px;
                    margin-top: 2px;
                    border-bottom: 1px solid black;
                }
            }
            .msl {
                .small {
                    text-decoration: none;
                    padding: 7px 10px;
                    color: black;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    font-weight: 500;
                    border: 1px solid rgba(128, 128, 128, 0.26);
                }
            }
        }
        .ciic {
            margin-bottom: 40px;
            margin-top: 30px;
            .clr {
                p {
                    margin-right: 10px;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    font-weight: 500;
                    border-bottom: 1px solid black;
                }
            }
            .blackli {
                i {
                    margin: 5px 2px 0px 10px;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            .nudeli {
                i {
                    color: #fdf4e6;
                    margin: 4px 10px 0px 2px;
                    font-size: 20px;
                    cursor: pointer;
                    border: 1px solid #97979775;
                    border-radius: 50%;
                }
            }
            li {
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 12px;
                    margin-left: 50px;
                    border-bottom: 1px solid black;
                    transition: 0.3s ease;
                    &:hover {
                        color: rgb(53, 53, 243);
                    }
                }
            }
        }
        .countbutton {
            margin-bottom: 30px;
        }
        .wish {
            i {
                padding: 10px;
                border: 1px solid rgba(128, 128, 128, 0.329);
                border-radius: 50%;
                color: rgba(128, 128, 128, 0.527);
                margin-right: 20px;
                transition: 0.3s ease-in-out;
                &:hover {
                    color: rgba(255, 0, 0, 0.527);
                }
            }
            span {
                color: #9797976c;
            }
        }
        .saw {
            margin-top: 20px;
            li {
                p {
                    color: #979797;
                    margin-right: 10px;
                    span {
                        color: black;
                    }
                    a {
                        text-decoration: none;
                        color: black;
                        margin-right: 2px;
                        transition: 0.2s ease-in;
                        &:hover {
                            color: #4fbbf0;
                        }
                    }
                }
            }
        }
    }
}
.review {
    .reviewtxt {
        h3 {
            text-align: center;
            cursor: pointer;
            margin-bottom: 30px;
        }
    }
    .bigrebox {
        padding: 10px 15px;
        border: 1px solid rgba(128, 128, 128, 0.233);
        position: relative;
        margin-bottom: 30px;
        .iconns {
            position: absolute;
            left: 75%;
            top: 15px;
            i {
                color: #ffd015;
                font-size: 11px;
            }
        }
        .txt {
            margin-left: 50px;
            margin-top: 34px;
            .rev {
                margin-left: 20px;
                .adm {
                    span {
                        font-size: 15px;
                        font-weight: 500;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                            "Open Sans", "Helvetica Neue", sans-serif;
                    }
                }
                .date {
                    p {
                        font-size: 13px;
                        color: #767676;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                            "Open Sans", "Helvetica Neue", sans-serif;
                    }
                }
            }
        }
        img {
            position: absolute;
            top: 25%;
            left: 20px;
            border: 1px solid #c4c4c4;
            padding: 7px;
            border-radius: 50%;
            background-color: #c4c4c4;
            height: 55px;
            width: 55px;
        }
        .desctxt {
            p {
                font-size: 14px;
                margin-left: 10px;
                font-weight: 600;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
            }
        }
    }
    .aar {
        font-size: 15px;
        margin: 30px 0;
    }
    .emailsecure {
        color: #979797;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
    }
    .ratebox {
        .rate {
            margin-right: 10px;
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
        }
    }
    body {
        display: grid;
        place-content: center;
        grid-template-columns: 80%;
        height: 100vh;
    }

    .input-title {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
            sans-serif;
        font-size: 18px;
        background-color: white;
        color: grey;
        padding: 0 5px;
        position: absolute;
        pointer-events: none;
    }

    div {
        position: relative;
        margin-bottom: 20px;
    }

    .form-element {
        border: 1px solid rgb(221, 216, 216);
        padding: 10px;
        border-radius: 5px;
        font-size: 18px;
        width: 100%;
    }

    .form-element + span {
        top: 10px;
        left: 10px;
        transition-duration: 500ms;
    }

    .form-element:focus + span {
        transform: translateY(-40%);
        top: 0px;
        left: 20px;
        font-size: 14px;
        color: black;
    }
    .submit {
        border: none;
        padding: 12px;
        border-radius: 2px;
        font-size: 18px;
        width: 100%;
        color: white;
        background-color: black;
        transition: 0.3s ease-in-out;
        &:hover {
            background-color: #4fbbf0;
        }
    }
}
.relatedproducts {
    .imgbox1 {
        margin-bottom: 11px;
        position: relative;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.06);
        }
        .percent {
            position: absolute;
            top: 5%;
            left: 5%;
            z-index: 1;
            color: white;
            padding: 2px 10px;
            background-color: #6ae08c;
            border-radius: 10px;
            font-size: 13px;
        }
    }
    .imgbox2 {
        margin-bottom: 11px;
        position: relative;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.06);
        }
        .percent {
            position: absolute;
            top: 5%;
            left: 5%;
            z-index: 1;
            color: white;
            padding: 2px 10px;
            background-color: #6ae08c;
            border-radius: 10px;
            font-size: 13px;
        }
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        line-height: 1.375;
        font-weight: 400;
        transition: 0.3s ease-in-out;
        &:hover {
            color: #4fbbf0;
        }
    }
    span {
        color: #888;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
    }
    .span {
        color: #979797;
        font-size: 14px;
        font-weight: 400;
        text-decoration: line-through;
    }
}

.icons-style {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: auto;
    justify-content: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    opacity: 1;
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        opacity: 1;
        li {
            margin: 0 10px;
            visibility: hidden;
            a {
                background-color: white;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-style: solid;
                border-width: 0;
                i {
                    color: black;
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                    position: inherit;
                    z-index: 1;
                    transform: translateY(10px);
                }
                .basket {
                    transition-delay: 0.2s;
                }
                .like {
                    transition-delay: 0.28s;
                }
                .search {
                    transition-delay: 0.36s;
                }
                &:hover {
                    background-color: #2dbbf0;
                }
            }
        }
    }
}
.imgbox-hover {
    &:hover {
        .icons-style {
            opacity: 1;
            visibility: visible;
            transition: 0.2s linear;
            li {
                visibility: visible;
                a {
                    opacity: 5;
                    i {
                        transform: translateY(0);
                        position: relative;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@import "_actresponsive";
